html {
	font-family: 'Open Sans', sans-serif;
	background-color: #cfe1ff;
}

section {
	margin-top: 50px;
	text-align: center;
}

#return {
	float:left;
}

#return input {
	width:100px;
}

/* ********************************FORM**************************** */
fieldset {
	width: 500px;
	display: block;
	border-radius: 4px;
	border-color:gray;
}

form {
	display: inline-block;
}

form .input {
	margin-left: 150px;
}

form .fieldWrapper {
	margin-bottom: 18px;
}

form #submit, #cancel {
	margin-top: 20px;
}

.error {
	color: #ff0000;
	font-weight: bold;
	font-size: 10px;
	float: center;
}

label {
	float: left;
	font-size: 13px;
	line-height: 18px;
	padding-top: 6px;
	padding-right: 10px;
	text-align: right;
	width: 190px;
}

input, select {
	padding:2px;
	border: 1px solid gray;
    border-radius: 4px;
    width:210px;
    height:30px;
    background-color:white;
}

input:focus, select:focus {
	box-shadow: 0 0 10px #005fff;
}
/* ********************************TABLE************************** */
caption {
	font-weight: bold;
}

td {
	background-color: #acccff;
}

thead td, .vertical tr td:first-child {
	background-color: #446293;
	color: white;
}

.tableWrapper {
	display: inline-block;
	width: 500px;
}

table {
	width: 100%;
}

table * {
	padding: 5px 7px;
}

table tr td a, .menu-bar a {
	text-decoration: none;
	color:#446293
}

table tr td a:active, .menu-bar a:active {
	color:#8393ad;
}

tfoot tr td span {
	color:green;
}
/* ****************************MENU*************************************** */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #99b7e8;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 5px 7px;
	text-decoration: none;
}

li a:hover {
	background-color: #688ac1;
}

li:last-child {
	border-right: none;
}
/* ********************************Buttons**************************** */
.off_button, .on_button {
	width: 60px;
}

.icon {
	width: 25px;
}

.ok-icon {
	color: green;
}

.exclamation-icon {
	color: red;
}

.question-icon {
	color:orange;
}

.details-icon, .edit-icon, .tree-icon, .HETD-icon, .question-icon, .exclamation-icon, .ok-icon, .valid-icon {
	font-size:1.5em;
}
/* **********************FORM DETAILS******************/
.menu-bar, #id-status, #responsables-correspondants {
	width:80%;
	min-width:1005px;
	margin: 0 auto;
}

.menu-bar {
	height:40px;
}

.menu-bar a {
	float:right;
	padding-right:10px;
}

#id-status {
	height:275px;
}

#id, #status-tabs {
	width:49%;
	height:100%;
}

#id {
	float:left;
}

#id table {
	height:100%;
}

#status-tabs, #form-element {
	float:right;
}

#responsables-correspondants {
}
/* **********************TREE FORMATION******************/
#myGrid {
	text-align: left;
	width:1205px;
	height:500px;
}
.formatNumberCells {
	text-align: right;
}
#tree {
	width:1205px;
	margin: 0 auto;
}